<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Contact Us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Our Location</h2>
      <div class="map-container">
        <iframe
          allowfullscreen=""
          class="responsive-iframe"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.7347272807838!2d49.83631237758552!3d40.37040597144722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307db1247f14b3%3A0xb0d615034ca66c7e!2s10%20Haji%20Zeynalabdin%20Taghiyev%20St%2C%20Baku%201005%2C%20Azerbaijan!5e0!3m2!1sen!2sgr!4v1698851314503!5m2!1sen!2sgr"
          style="border: 0"></iframe>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h2>Get in Touch</h2>
      <p>Phone: <a href="tel:1234567890">123-456-7890</a></p>
      <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
      <h3>Follow Us</h3>
      <a href="https://www.instagram.com/mate.baku/"
        ><img
          alt="Instagram"
          height="24"
          src="assets/images/icons/Instagram_Glyph_Gradient.svg"
          width="24"
      /></a>
    </div>
  </div>
</div>
