<div class="container navbar-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <img class="brand-logo" alt="Brand Logo" src="assets/images/icons/mate_logo.png" />
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li [routerLinkActive]="['active']" class="nav-item">
          <a class="nav-link" routerLink="/menu">{{ 'MENU' | translate }}</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
          <a class="nav-link" routerLink="/contact">{{ 'CONTACTS' | translate }}</a>
        </li>
      </ul>
      <div class="d-flex align-items-center nav-right">
        <div ngbDropdown class="d-inline-block dropdown-container">
          <button class="btn btn-secondary" id="dropdownMenuButton" ngbDropdownToggle>
            <img class="dropdown-icon" [src]="'assets/images/icons/' + currentLanguage + '.png'">
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" (click)="useLanguage('en')">
              <img class="dropdown-icon" [src]="'assets/images/icons/en.png'"> English</button>
            <button class="dropdown-item" (click)="useLanguage('az')">
              <img class="dropdown-icon" [src]="'assets/images/icons/az.png'"> Azərbaycanca</button>
            <button class="dropdown-item" (click)="useLanguage('ru')">
              <img class="dropdown-icon" [src]="'assets/images/icons/ru.png'"> Русский</button>
          </div>
        </div>
        <div>
          <a *ngIf="!isLoginDialogOpen" class="nav-link" routerLink="/login">{{ 'LOGIN' | translate }}</a>
        </div>
      </div>
    </div>
  </nav>
</div>