.active {
  background-color: #5d681c;
  color: rgb(223, 18, 18);
  border-radius: 5px;
  text-align: left;
}

.active a {
  color: white;
}

.nav-item a {
  padding-left: 10px;
}

.btn.btn-secondary {
  background-color: #9bb505;
  text-align: center;
}

.brand-logo {
  height: 30px;
  width: 30px;
}

.nav-right {
  margin-left: auto;
}

.dropdown-container {
  margin-right: 20px;
}

.dropdown-icon {
  height: 20px;
  width: 30px;
}

.dropdown-item {
  padding: 0.25rem 0.75rem;
}

.nav-link {
  width: 110px;
  text-align: left;
}