<div class="container">
  <div *ngFor="let category of categories" class="custom-padding">
    <h2 (click)="toggleCategory(category)" class="btn btn-primary">
      {{ category }}
    </h2>
    <div *ngIf="isCategoryOpen(category)" @slideUpDown>
      <div class="container">
        <div class="row">
          <div
            *ngFor="let item of getItemsByCategory(category)"
            class="col-md-4 custom-padding">
            <app-menu-item [item]="item"></app-menu-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button
  *ngIf="basketService.hasItems()"
  class="btn btn-primary checkout-button"
  routerLink="/checkout">
  Корзина
</button>
