.btn-small,
.number-display {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d681c;
  color: white;
}

.order-count .btn-small {
  background-color: #5d681c;
  color: white;
}

.order-count .number-display {
  background-color: white;
  color: #5d681c;
}

.shift-right {
  transform: translateX(30px);
  transition: transform 0.3s ease-out;
}

.custom-padding {
  padding: 10px 5px;
}

.order-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.number-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card {
  width: 18rem;
  border-radius: 20px;
}

.custom-padding {
  padding: 10px 5px;
}

.checkout-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: auto;
  background-color: #5d681c;
  padding: 10px 20px;
}

.item-image {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .checkout-button {
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
  }

  .shift-right {
    transform: translateX(40px);
    transition: transform 0.3s ease-out;
  }
}

@media (min-width: 769px) {
  .col {
    padding: 0 10px;
  }

  .checkout-button {
    padding: 15px 30px;
  }

  .shift-right {
    transform: translateX(0);
  }

  .item-image {
    width: 256px;
    height: 256px;
  }
}
